[Unit]
Description=Elasticsearch
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Environment=ES_PATH_CONF={{ elastic_dir }}/config/
Environment=ES_PID_DIR={{ current_elastic_dir }}
WorkingDirectory={{ current_elastic_dir }}
User=elastic
Group=elastic

ExecStart={{ current_elastic_dir }}/bin/elasticsearch -p ${ES_PID_DIR}/elasticsearch.pid --quiet

StandardOutput=journal
StandardError=inherit
LimitNOFILE=65536
LimitMEMLOCK=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
