[Unit]
Description=Gunicorn instance to serve OSINTer {{ project_name }}
After=network.target

[Service]
User=osinter-web
Group=www-data
WorkingDirectory={{ root_path }}/{{ project_name }}
Environment="PATH={{ root_path }}/{{ project_name }}/{{ project_name }}env/bin"
ExecStart={{ root_path}}/{{ project_name }}/{{ project_name }}env/bin/gunicorn --certfile OSINTerSSL.crt --keyfile OSINTerSSL.key --workers 4 --bind unix:{{ project_name }}.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
